/* you will add css rules for element selectors and IDs */
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

/* you may add to or change the body rule */
body {
    font-family: sans-serif;
    font-size: 1rem;
    color: #fff;
    background: #333;
    margin: 0;
}

img {
    max-width: 100%; /* DO NOT delete or change this line */
}

header {
  padding: 25px;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  word-spacing: 1.5rem;
}

nav ul li {
  margin-left: 1rem;
}

article {
  padding: 4rem;
  display: flex;
  justify-content: center;
}

section {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  flex: 1 1 600px;
}

h2 {
  margin: 0;
}

footer {
  text-align: center;
  padding: 1rem;
}

.photo {
  color: #000;
  padding-left: 10px;
  align-items: center;
}

.text {
  color: #000;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-left: 4rem;
}

.photo p {
  font-size: .9rem;
}

#cougar .photo p {
  color: #fff;
}

#cougar .text p {
  color: #fff;
}

#cougar .text h2 {
  color: #fff;
}

#cougar {
  background:#B26219;
}

#lion {
  background:#FFD5AE;
}

#tiger {
  background: #FFBD82;
}


/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

#cougar a:link {
    color: #38b6d1;
}

#cougar a:hover {
    color: #7adaf5;
}

nav a:link {
  text-decoration: none;
}

a:link {
    color: #379CB2;
}

a:hover {
    color: #67cae0;
}
